# Geral
DJANGO_ENV=development
SECRET_KEY=django-insecure-change-this-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Portas (Docker Compose)
WEB_PORT=8000

# Senha Única
SENHAUNICA_KEY=
SENHAUNICA_SECRET=
SENHAUNICA_CALLBACK_ID=
SENHAUNICA_ENV=prod

# Autenticação
# Habilita o login local (usuário/senha) além da Senha Única USP.
ENABLE_LOCAL_LOGIN=True

# Celery / Redis
REDIS_URL=redis://redis:6379/0

# Replicado
REPLICADO_HOST=
REPLICADO_PORT=
REPLICADO_DATABASE=
REPLICADO_USERNAME=
REPLICADO_PASSWORD=
REPLICADO_SYBASE=
